@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.w1 {
    width: 100%;
    height: 100vh;
    background-color: blue;
}
.w2 {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}
.w3 {
    width: 100%;
    height: 100vh;
    background-color:chartreuse;
}